fastapi
uvicorn
openai
python-dotenv
python-multipart
web3==6.17.0
eth-account==0.10.0
torch>=2.0.0
transformers>=4.30.0

kobert @ git+https://github.com/SKTBrain/KoBERT.git
kobert-transformers @ git+https://github.com/NLP2K/kobert-transformers.git
